<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>User Registration</title>
    <!-- Include Bootstrap CSS from a content delivery network (CDN) -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body>

<div class="container">
    <h1>User Registration</h1>

    <div class="alert alert-primary my-3" th:if="${message}">
        <p class="text-center" th:text="${message}"></p>
    </div>

    <form th:object="${user}" method="post" th:action="@{/create-user}" class="needs-validation">
        <div class="mb-3">
            <label for="username" class="form-label">Username:</label>
            <input type="text" id="username" name="username" class="form-control" th:field="*{name}" required>
            <div class="invalid-feedback">Please enter a username.</div>
        </div>

        <div class="mb-3">
            <label for="email" class="form-label">Email:</label>
            <input type="text" id="email" name ="email" class="form-control" th:field="*{email}" required>
            <div class="invalid-feedback">Please enter an email.</div>
        </div>

        <button type="submit" class="btn btn-primary">Create User</button>

        <a th:href="home-page" class="btn btn-primary">Home</a>
    </form>

</div>


<!-- Include Bootstrap JS and Popper.js (required for Bootstrap) from a CDN -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
